<div class = "toppage">
    <div>
        <%= link_to "Q＆Aから探す", posts_path ,class: "btn02" %>
    </div>
    <div>
        <%= link_to '質問する', new_post_path ,class: "btn02" %>
    </div>
    <div>
        <%= link_to "マップから探す","/maps/index" , data: {"turbolinks" => false} ,class: "btn02"%>
    </div>
</div>

